<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Komment</title>
<link rel="stylesheet" type="text/css" href="../static/main.css" />
</head>
<body>
	<div class="wrapper">
		<main>
			<a th:href="@{/}">Fő oldal</a>
			<h1 th:each="ps : ${postEntity}" th:text="'Poszt: ' + ${ps.title}">Web forum</h1>
			<hr>
			<br>
			<form th:action="@{/comment/} + ${postId}" method="post">
				<input type="text" name="comment"
					placeholder="kommentelő / tartalom"> <input type="submit"
					value="keresés" required="required"> <a
					th:href="@{/comment/} + ${postId}">Keresés törlés</a>
			</form>

			<br>
			<hr />
			<br>
				<table th:each="ps : ${postEntity}">
					<tbody>
						<tr>
							<td class="form-wrapper-created" th:text="'létrehozta: ' + ${ps.userName}"></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td th:text="${ps.post}"></td>
						<tr>
					</tbody>
					<tbody>
						<tr>
							<td th:text="${ps.dateTime}"></td>
						</tr>
					</tbody>
				</table>
			<br>
			<hr />
			<br>
			<table>
				<tr th:if="${comments.empty}">
					<td>Nincs megjeleníthető adat</td>
				</tr>
				<tbody th:each="c : ${comments}">
					<tr>
						<td class="form-wrapper-commented" th:text="'kommentelő: ' + ${c.userName}"></td>
					</tr>
					<tr>
						<td th:text="${c.comment}"></td>
					</tr>
					<tr>
						<td th:text="${c.dateTime}"></td>
					</tr>
					<tr>
						<td><br></td>
					</tr>
				</tbody>
			</table>

			<hr />
			<br>
			<form th:action="@{/comment/new/__${postEntity.get(0).id}__}"
				th:object="${postEntity}" method="post">
				Felhasználó név:<br><input type="text" name="userName"
					required="required"><br><input type="submit"
					value="hozzászólás elküldése"><br>
				<textarea rows="4" cols="50" name="comment" placeholder="Ez itt a komment helye..."></textarea>
				<br>
			</form>
		</main>
	</div>
</body>
</html>