<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
<link rel="stylesheet" type="text/css" href="./static/main.css" />
</head>
<body> 
	<div class="wrapper">
		<main>
			<h1>myWeb forum</h1>
			<hr>
			<br>
			<form th:action="@{/}" method="post">
				<input type="text" name="name" placeholder="témakör / beküldő">
				<input type="submit" value="keresés" required="required"> <a
					th:href="@{/}">Keresés törlés</a>
			</form>
			<br>
			<hr>
			<table>
				<thead>
					<tr>
						<th>témakör</th>
						<th>beküldő</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="t : ${topic}">
						<td><a th:href="@{/post/} + ${t.id}" th:text="${t.name}"></a></td>
						<td th:text=${t.userName}></td>
					</tr>
				</tbody>
			</table>
			<br>
			<hr />
			<br>
			<form th:action="@{/new}" method="post">
				Felhasználó név:<br><input type="text" name="userName"
					required="required"><br> Témakör címe:<br><input
					type="text" name="name" required="required"><br> <input
					type="submit" value="témakör elküldése" required="required">
			</form>
		</main>
	</div>

</body>
</html>